@import url('https://fonts.googleapis.com/css?family=Vibur');
*{
	padding: 0;
	margin: 0;
}

body{
    font-family: 'Vibur', cursive;
}

/*Menu desplegable*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(17,17,17,.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.5s;
	text-align: center;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu{
	position: fixed;
	color: white;
	font-size:50px;
	cursor:pointer;
	right: 10px;
	top:0px;
	z-index: 1000;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 25px;}
}



/*SlideShow*/
.mySlides{
	width: 100%;
}

.slideNota{
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 10px;
    background-color: rgba(17,17,17,.9);
    color: #F7EDED;
}

@media screen and (max-width: 500px) {
  .slideNota {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 10px;
    background-color: rgba(17,17,17,.9);
    color: #F7EDED;
     }
}

@media screen and (max-width: 370px) {
  .slideNota {
    visibility:hidden;
     }
}


/*-----------------------Busqueda de libros*/

.bookSearch{
	position: relative;
	background-color: black;
	width: 100%;
	height: 1100px;	

}
/*Buscador*/
 .bookSearch .searcher{
	position: absolute;
	width: 30%;
	height: 100%;
	left: 0px;
	background-color: #E40613;
	text-align: center;
}

.bookSearch .searcher p{
    font-size: 30px;
}

.bookSearch .searcher #buscar{
    background-color: #FFFFFF; 
    border-radius: 10%;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*.bookSearch .searcher p{
    font-size: 50px;
}
*/

/*Muestra*/
.bookSearch .book{
    color: #000000;
}

.bookSearch .books{
	position: absolute;
	width: 70%;
	height: 100%;
	right: 0px;
	background-color: #FFFFFF;
	text-align: center;
	color: white;
}


.bookSearch .cambio {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    top: 95%;
    left: 62%;  
    background-color: #E40613;
    color: #000000;
}



.bookSearch .cambio:hover {
    background-color: black;
    color: white;
}


.round {
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .bookSearch .cambio {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    top: 95%;
    left: 40%;  
    background-color: white;
    color: black;
    }
}


/*-----------------------Pie de pagina*/
footer{
	position: relative;
	width: 100%;
	height: 50px;

	background-color: black;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #9C7C7C;
}